@model DoeLuz.Models.Doacao
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "DoarAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Doar para ONG</h1>

<h5>Doacao</h5>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="DoarAdmin">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="DataEntrega" class="control-label">Escolha uma data para entrega</label>
                    <input asp-for="DataEntrega" class="form-control" />
                    <span asp-validation-for="DataEntrega" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Item" class="control-label">Itens</label>
                    <input asp-for="Item" class="form-control" placeholder="Quais itens pretende doar?" />
                    <span asp-validation-for="Item" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="Mensagem" class="control-label">Mensagem</label>
                    <input asp-for="Mensagem" class="form-control" placeholder="Coloque aqui uma mensagem para o administrador" />
                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="DoadorID" class="control-label">Selecione o seu nome</label>
                    <select asp-for="DoadorID" class="form-control" asp-items="ViewBag.DoadorID"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="BeneficiarioID" class="control-label">Selecione alguem para receber</label>
                    <select asp-for="BeneficiarioID" class="form-control" asp-items="ViewBag.BeneficiarioID"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="AdminID" class="control-label">Selecione o nome da ONG</label>
                    <select asp-for="AdminID" class="form-control" asp-items="ViewBag.AdminID"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.ActionLink("Voltar", "HomeDoador", "SessionControler", new { id = @HttpContextAccessor.HttpContext.Session.GetInt32("id_session") }, new { @class = "btn btn-sm-secondary" })

                <input type="submit" value="Confirmar" class="btn btn-primary btn-danger" />
            </div>
        </form>
    </div>
</div>


