
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="text-align:center">Bem vindo Administrador!</h2>
    <div class="mt-5">
        <button type="button" class="btn btn-danger btn-lg btn-block">Gerenciar Doadores</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Gerenciar Beneficiarios</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Gerenciar Administradores</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Gerar Lista de Beneficiarios Mensal</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Lista de todos Beneficiários</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Lista de Doadores</button>
    </div>

</div>

